{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="first">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="arvore">
          <{{ range $.Site.Data.projects }}
          <!--a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">{{ .title }}</a>-->
            <div class="tree">
            	<ul>
                <li>Tiago Q.
                  <ul>
                  <li><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Diogo F.</a>
                    <ul>
                    <li><a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">Catarina M.</a></li>
                    </ul>
                  </li>
                  <li><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Gonçalo G.</a>
                    <ul>
                    <li><a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">Oihane</a></li>
                    <li><a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">Dennis</a></li>
                    </ul>
                  </li>
                  <li><a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">Catarina V.</a></li>
                  </ul>
                </li>
            		<li><a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">Raquel F.</a> <!--- gen 0 -->
            			<ul>
            			<li><a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">Leonor F.</a></li>
                  <li><a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">Leonor O.</a></li>
                  </ul>
                </li>
                <li><a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Diana R.</a></li>
                <li><a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">Juan C.</a>
                  <ul>
                  <li><a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">Pietro V.</a>
                    <ul>
                    <li><a href="#portfolioModal13" class="portfolio-link" data-toggle="modal">Diogo M.</a></li>
                    <li><a href="#portfolioModal14" class="portfolio-link" data-toggle="modal">Giorgia</a></li>
                    </ul>
                  </li>
                  </ul>
                </li>
              </ul>
            </div>
            {{ end }}
        </div>
    </div>
</section>
